<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" (click)="fecharModal()">Fechar</ion-button>
    <ion-title>{{atualizar ? 'Atualizar Gerente' : 'Novo Gerente'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form #f="ngForm" (ngSubmit)="enviando(f)">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="dados.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input [(ngModel)]="dados.senha" name="senha" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nome do Gerente</ion-label>
        <ion-input [(ngModel)]="dados.nome_gerente" name="nome_gerente"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input [(ngModel)]="dados.nome" name="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CNPJ</ion-label>
        <ion-input [(ngModel)]="dados.cnpj" name="cnpj" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input [(ngModel)]="dados.telefone" name="telefone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Endereço</ion-label>
        <ion-input [(ngModel)]="dados.endereco" name="endereco"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Coordenadas</ion-label>
        <ion-input [(ngModel)]="dados.localizacao" name="localizacao"></ion-input>
      </ion-item>
      <ion-button fill="outline" expand="block" type="submit">{{atualizar ? 'Atualizar Gerente' : 'Cadastrar Gerente'}}</ion-button>
    </form>
</ion-content>
